* {
    margin: 0;
    padding: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
}

body {
    background-color: var(--Light-grayish-blue);
}

:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);

    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

.author-tag {
    display: flex;
    align-items: center;
}
.author-info {
    margin-left: .1rem;
}
.author-name {
    margin-bottom: .25rem;
}
.author-tag img {
    border-radius: 50%;
    scale: 75%;
    border: 2px;
    border-style: solid;
}

.container {
    max-width: 80vw;
    margin: 80px auto;
    margin-top: 80px;
    
}

h2 {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.grid-box {
    display: grid;
    gap: 10px;
    padding: 10px;
}
.grid-card {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.8);
}

.item-1 {
    grid-column: 1 / span 2;
    background-color: var(--Moderate-violet);
    color: white;
    background-image: url("/images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position-x: 80%;
}
.item-2 {
    grid-column: 3 / span 1;
    background-color: var(--Very-dark-grayish-blue);
    color: white;
}
.item-3 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
    background-color: white;
}
.item-4 {
    grid-column: 1 / span 1;
    background-color: white;
}
.item-5 {
    grid-column: 2 / span 2;
    background-color: var(--Very-dark-blackish-blue);
    color: white;
}

@media (max-width: 900px) {
    .container{
        min-width: 500px;
        margin-top: 30px;
    }
    .grid-box{
        display: block;
    }
    .grid-card{
        margin-bottom: 1rem;
    }
}