* {
    margin: 0;
    padding: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
}

body {
    background-color: var(--Light-grayish-blue);
}

:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);

    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

.author-tag {
    display: flex;
}

.container {
    max-width: 80vw;
    margin: 80px auto;
    margin-top: 80px;
}

.grid-box {
    display: grid;
    gap: 10px;
    padding: 10px;
}
.grid-card {
    background-color: var(--Moderate-violet);
    padding: 1rem;
    border-radius: 1rem;
}

.item-1 {
    grid-column: 1 / span 2;
}
.item-2 {
    grid-column: 3 / span 1;
}
.item-3 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
}
.item-4 {
    grid-column: 1 / span 1;
}
.item-5 {
    grid-column: 2 / span 2;
}